@font-face {
    font-family: proxima-nova;
    src: url(font/ProximaNova.otf);
    font-display: swap;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: proxima-nova;

}
.header p{
    font-size: 30px;
}
.header h1{
    font-size: 60px;
    font-weight:1000;
}
.header .card-tags li{
    font-size: 15px;
    gap:.5em;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* outline:1px solid; */
    background-color: rgb(243, 243, 243);
    margin-bottom:10px;
}
.navbar{
    display: flex;
    height: auto;
    justify-content: space-between;
    align-self: flex-start;
    font-size: 20px;
    width: 80%;
    font-weight: 1000;
    margin: auto;
    padding-top: 10px;
    /* gap: 0em; */
    /* outline: 1px solid; */
}
.logo a{
    text-decoration: none;
}
.about{
    font-weight: 2;
    text-decoration:underline;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* outline:1px solid red; */
}

.card {
    cursor: pointer;
    height: auto;
    width: 230px;
    overflow: hidden;
    perspective: 1000px;
    background-color: transparent;
    padding:25px;
    /* border:1px solid green; */
}

.card-inner {
    display: grid;
    /* height: auto; */
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    /* transform: rotateY(180deg); */

}
  
.rotate-inner{
    transform: rotateY(180deg);
}
  
.card-front, .card-back {
    grid-area: 1/1; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid grey;
    border-radius: 10px;

}

.card-back {
    text-align: left;
    transform: rotateY(180deg);
}


.card-front:hover{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12%);
    transition-duration: .2s;
}

.card-img, .card-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-img{
    display: flex;
    height: 170px;
    width: 100%;
    /* outline:1px solid tomato; */
}
.card-img img{
    object-fit: cover;
    width: 100%;
    max-width:100%;
}

.card-title, .card-description, .card-tags, .card-back{
    padding: 10px;
}
.card-title{
    color: black;
    font-weight: bold;
    font-size: 18px;
    height: auto;
    /* outline:1px solid green; */
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.card-description{
    height: 100px;
    color:gray;
    border-bottom: 1px solid gray;
    /* outline:1px solid blue; */
}
.card-tags{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    margin:0;
    gap:.5em;
}
.card-tags li{
    font-size: 12px;
    padding:5px;
    border-radius: 5px;
    /* outline:1px solid ; */
}
.white{
    background-color: rgb(255, 255, 255);
    outline:1px solid;
}
.green{
    background-color: rgb(186, 245, 186);
}
.blue{
    background-color: rgb(200, 230, 239);
}
.pink{
    background-color: lightpink;
}
.violet{
    background-color: rgb(249, 202, 255);
}
.yellow{
    background-color: rgb(252, 238, 132);
}

a{
 /* text-decoration: none; */
 color: black;
}

.footer{
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px;
    padding-left: 30px;
    background-color: rgb(225, 225, 225);
}

@media screen and (max-width:880px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:780px) {
    .header{
        padding-left: 20px;
    }
}
@media screen and (max-width:620px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media print{
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
      }
    div.card > *{
        display: grid;
        page-break-inside: avoid;
    }
    .header .card-tags, .header .about, .card-back {
        display: none;
    }
}
