@font-face {
    font-family: proxima-nova;
    src: url(font/ProximaNova.otf);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: proxima-nova;

}
.header p{
    font-size: 30px;
}
.header h1{
    font-size: 60px;
    font-weight:1000;
}
.header .card-tags li{
    font-size: 15px;
    gap:.5em;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* outline:1px solid; */
    background-color: rgb(243, 243, 243);
    margin-bottom:10px;
}
.header img{
    object-fit: contain;
    width: 100%;
    outline:1px solid;


}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
    width: 750px;
    gap:1em;
    /* outline:1px solid red; */
}
.card{
    /* margin-bottom: 50px; */
    width: 230px;
    height: auto; /*height must be auto*/
    border: 1px solid grey;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);
    transition-duration: .2s;
}
.card-img, .card-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-img{
    display: flex;
    /* justify-content: center; */
    height: 170px;
    width: 100%;
    /* outline:1px solid tomato; */
}
.card-img img{
    object-fit: cover;
    width: 100%;
    max-width:100%;
}

.card-title, .card-description, .card-tags{
    padding: 10px;
}
.card-title{
    font-weight: bold;
    font-size: 18px;
    height: auto;
    /* outline:1px solid green; */
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.card-description{
    height: 100px;
    color:gray;
    border-bottom: 1px solid gray;
    /* outline:1px solid blue; */
}
/*special css for smaller images*/
/* .container .card:nth-child(4) .card-img img{ 
    object-fit: contain;
    width: 100%;
    align-self
} */
.container .card:nth-child(8) .card-img img{ 
    object-fit: contain;

}
.container .card:nth-child(12) .card-img img{ 
    object-fit: contain;
}
.card-tags{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    margin:0;
    gap:.5em;
}
.card-tags li{
    font-size: 12px;
    padding:5px;
    border-radius: 5px;
    /* outline:1px solid ; */
}
.green{
    background-color: rgb(186, 245, 186);
}
.blue{
    background-color: lightblue;
}
.pink{
    background-color: lightpink;
}
.violet{
    background-color: rgb(249, 202, 255);
}
.yellow{
    background-color: rgb(252, 238, 132);
}


@media screen and (max-width:750px) {
    .container{
        width: 520px;
    }
}
@media screen and (max-width:530px) {
    .container{
        flex-direction: column;
        flex-wrap: none;
        justify-content: none;
        height: auto;
        width: 200px;    }
}